<template>
  <div class="row">

    <div class="col-3">
      <h3>Todo</h3>
      <div class="list-group">
            <draggable v-model="todos" group="people" :emptyInsertThreshold="500">
                <div
                    class="list-group-item"
                    v-for="(element) in todos"
                    :key="element.title"
                >
                    {{ element.title }}
                     <div class="btn-group">
                        <button type="button" @click="edit(element)" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                        <button type="button" @click="remove(element)" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span> Remove
                        </button>
                    </div>
                </div>
             </draggable>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-8">
                        <input type="text" class="form-control" v-model="title" placeholder="I need to bla bla...">
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary" @click="save()"> Save </button>
                    </div>
                </div>
            </div>
      </div>
      
    </div>

    <div class="col-3">
      <h3>Completed</h3>
      <draggable class="list-group" v-model="completedTodos" @change="log" group="people" :emptyInsertThreshold="500">
        <div
          class="list-group-item"
          v-for="(element) in completedTodos"
          :key="element.title"
        >
          {{ element.title }}
        </div>
      </draggable>
    </div>
    
 
  </div>
  
</template>
<script>
import draggable from "vuedraggable";
export default {
    components: {
        draggable
    },
    methods: {
        save: function() {
            // this.list.push({ name: "Juan" });
            // this.$store.dispatch('getTodo', e.target.value)
            // console.log(this.$store.state.newTodo)
            if(this.$store.state.todoId !== 0){
                this.$store.dispatch('updateTodo', {title: this.$store.state.newTodo, id: this.$store.state.todoId, completed: 0})
            }else{
                this.$store.dispatch('saveTodo', this.$store.state.newTodo)
            }

        },
        edit: function(todo) {
            this.$store.dispatch('updateTodoTitle', todo.title)
            this.$store.dispatch('updateTodoId', todo.id)
        },
        remove: function(todo) {
            this.$store.dispatch('deleteTodo', todo)
        },
        log: function(evt){
            

            // Instead of using the set value from the draggable plugin, i use log function
            // which is track the list removed or added element.
            if(evt.added != undefined && evt.added.element != undefined && evt.added.element.id != undefined)
                this.$store.dispatch('completeTodo',evt.added.element)
            if(evt.removed != undefined && evt.removed.element != undefined && evt.removed.element.id != undefined)
                this.$store.dispatch('uncompleteTodo', evt.removed.element)
        }
    },
    computed: {
         title: {
            get () {
                return this.$store.state.newTodo
            },
            set (value) {
                this.$store.dispatch('updateTodoTitle', value)
            }
        },    
        todos: {
            get() {
                return this.$store.getters.todos
            },
            // eslint-disable-next-line no-unused-vars
            set(value) {
            }
        },
        completedTodos: {
            get() {
                return this.$store.getters.completedTodos
            },
            // eslint-disable-next-line no-unused-vars
            set(value) {
            }
        }
    },
    mounted() {
        this.$store.dispatch("getTodo");
    }
};
</script>