<template>
  <div id="app" class="container">
    <Todos></Todos>
  </div>
</template>

<script>
// import GetTodo from './components/GetTodo.vue'
// import CurrentTodos from './components/CurrentTodos.vue'
// import CompletedTodos from './components/CompletedTodos.vue'
import Todos from './components/Todos.vue'

export default {
  components: {
    Todos,
  }
 
}
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>